<aside class="sidebar">
  <div class="sidebar-header">
    <a class="navbar-brand" href="<%= root_path %>">
      <div class="logo-icon">
        <i class="bi bi-code-slash"></i>
      </div>
      <span>DevJourney</span>
    </a>
  </div>

  <nav class="sidebar-nav">
    <a href="<%= root_path %>" class="nav-link <%= 'active' if current_page?(root_path) %>">
      <i class="bi bi-house"></i>
      <span>ホーム</span>
    </a>

    <% if user_signed_in? %>
      <a href=<%= current_user.profile_page_uri %> class="nav-link <%= 'active' if current_page?(current_user.profile_page_uri) %>">
        <i class="bi bi-person"></i>
        <span>プロフィール</span>
      </a>

      <%= button_to destroy_user_session_path, method: :delete, class: "nav-link", form: { class: "d-inline" } do %>
        <i class="bi bi-box-arrow-right"></i>
        <span>ログアウト</span>
      <% end %>
    <% else %>
      <a href="<%= new_user_session_path %>" class="nav-link <%= 'active' if current_page?(new_user_session_path) %>">
        <i class="bi bi-person"></i>
        <span>ログイン</span>
      </a>

      <a href="<%= new_user_registration_path %>" class="nav-link <%= 'active' if current_page?(new_user_registration_path) %>">
        <i class="bi bi-person-plus"></i>
        <span>新規登録</span>
      </a>
    <% end %>
  </nav>
</aside>